.crt_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 4vh 4vw;

   /* scroll-snap-align: start;*/
}

.ctr_chart {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;


    transform: scaleY(-1);
}

.crt_controls {
    margin-top: 20px;
}

.chart-line {
    stroke-width: 1.5px;

    transition: opacity 0.5s;
}

.map-line {
    stroke-width: 1px;

    transition: opacity 0.5s;
}

.chart-bar {
    transition: fill 0.5s;
}

.map-bar {
    transition: fill 0.5s;
}

.animated {
    transition: transform 0.5s;
}

.intersection-point {
    transition: opacity 0.5s;

    stroke-width: 2.5px;
}

.intersection-line {
    opacity: 0.5;

    transition: stroke 0.2s;

    stroke: #182D3B;
}

.night .intersection-line {
    stroke: #FFFFFF;
}
