.crt_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 2vh 2vw;
}

/*
.desktop .crt_wrapper {
    scroll-snap-align: start;
}
*/
.crt_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    font-weight: bold;

}

.crt_title {
    text-align: left;
}

.crt_bounds {
    text-align: right;
}

.ctr_chart {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;


    transform: scaleY(-1);
}

.crt_controls {
    margin-top: 20px;
}

.chart-line {
    stroke-width: 1.5px;

    transition: opacity 0.5s;
}

.map-line {
    stroke-width: 1px;

    transition: opacity 0.5s;
}

.chart-bar {
    transition: fill 0.5s;
}

.map-bar {
    transition: fill 0.5s;
}

.animated {
    transition: transform 0.5s;
}

.intersection-point {
    transition: opacity 0.5s;

    stroke-width: 2.5px;
}

.intersection-line {
    opacity: 0.5;

    transition: stroke 0.2s;

    stroke: #182D3B;
}

.night .intersection-line {
    stroke: #FFFFFF;
}
