.cb_wrapper {
    display: flex;
    float: left;
    /* fallback for IE */
    width: 8em;
    width: fit-content;
    height: 2em;

    margin: 5px;

    border: 1px solid rgba(170, 170, 170, 85);
    border-radius: 1em;

    cursor: pointer;

    user-select: none;
}

.cb_unchecked-mark, .cb_checked-mark {
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    margin: 0.4em;
    overflow: hidden;

    border: 1px solid currentColor;
    border-radius: 0.6em;

    color: transparent;

    transition: background-color 0.5s;
}

.cb_checked-mark {
    background-color: currentColor;
}

.cb_checked-mark .icon {
    top: 0;
}

.cb_label {
    margin: 0.5em 0.5em 0.5em 0;

    font-weight: normal;
}

.icon {
    position: relative;
    top: -2em;

    width: 0.7em;
    height: 0.7em;
    margin: 0.2em;

    color: inherit;

    transition: top 0.5s;
}