.cb_wrapper {
    display: flex;
    float: left;
    /* fallback for IE */
    width: 8em;
    width: fit-content;
    height: 2em;

    margin: 5px;

    border-width: 1px;
    border-style: solid;

    border-radius: 1em;

    cursor: pointer;

    transition: background-color 0.5s;
}

.mark {
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    margin: 0.4em;

    border-radius: 0.6em;

    transition: opacity 0.5s;
}

.cb_label {
    margin: 0.5em 0.5em 0.5em 0;

    color: white;
    font-weight: normal;

    transition: color 0.5s;
}

.icon {
    width: 0.7em;
    height: 0.7em;
    margin: 0.2em;
}